.header {
    background-color: rgb(0, 0, 0);
    padding: 19px 0;

    &_wrap {display: flex;
        justify-content: space-between;
        align-items: center
    }

    &_logo {
        text-decoration: none;
        padding-right: 41px;
    }

    &_item {
        &:not(:last-child) {
            margin-right: 33px;
            }
    }
}

